// Navigation Styles here
.top-nav-container {
  width: 100%;
  .border();
}

.top-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  @media @mobile {
    flex-direction: column;
    h1 {
      padding-top: 1.5rem;
      font-size: 3rem;
    }
  }
  nav {
    padding: 3.5rem 0;
    display: inline-grid;
    grid-auto-flow: column;
    grid-gap: 3rem;
    a {
      text-decoration: none;
      font-size: 1.6rem;
      color: @shark;
    }
    @media @mobile {
      padding: 2rem 0 1rem;
      grid-gap: 6rem;
    }
  }
}